package {{.Package}}

import(
"fmt"
"github.com/olongfen/contrib/log"
"gorm.io/gorm"
)

func ValidFieldSymbol(field, s string)(res string,err error) {
		switch s {
		case "<", "<=", ">", ">=", "=","!=":
			return s,nil
		case "gt":
			return ">",nil
		case "ge":
			return ">=",nil
		case "lt":
			return "<",nil
		case "le":
			return "<=",nil
		case "ne":
			return "!=",nil
		case "eq":
			return "=",nil
		default:
			err = fmt.Errorf("value: %s symbol %s invalid", field, s)
			return
		}
	}

var(
	ModelLog *log.Logger
	DB *gorm.DB
	Tables []interface{}
)

func GetDB(dbs ...*gorm.DB)(res *gorm.DB){
	if len(dbs)>0{
		return dbs[0]
	}
	return DB
}