db:
  databasename: postgres
  driver: postgres
  host: 127.0.0.1
  maxidleconn: 200
  maxopenconn: 2000
  password: 123456
  port: "5432"
  username: postgres
filepath:
  logdir: ./log
  logpatent: _%Y-%m-%d.log_project
serve:
  serveraddr: 0.0.0.0
  serverport: "8080"
project:
