{{$StructName :=.StructName}}

{{- range .Fields}}
func(obj *{{$StructName}})Set{{.FieldName}}(param {{.Type}}) *{{$StructName}} {
    obj.{{.FieldName}} = param
    return obj
}

func(obj *{{$StructName}})Get{{.FieldName}}() {{.Type}} {
    return obj.{{.FieldName}}
}
{{end}}
